/* Layout*/
a.mylinklist {
  display: block;
}

/* Text */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: linear-gradient(to bottom, #ff9966 10%, #660066 90%);
}

/* Data */
#airing,
#popular,
#oneshot,
#summer,
#winter,
#fall,
#spring {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: stretch;
  max-height: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  line-height: 200%;
}

#upcoming,
#top,
#novel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  line-height: 200%;
}

#result {
  display: block;
  list-style-type: none;
  margin: 10px;
  text-align: center;
  color: #050404;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

/* Card */
.w3-card-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}

.w3-card-4 > .w3-container {
  flex-grow: 1;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #660066;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #660066;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 3px solid #660066;
  width: 70%;
}

/* The Close Button */
.close {
  color: #660066;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
