/* Seacrh Card */
.op {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: stretch;
  padding: 10px;
  text-align: center;
  list-style-type: none;
  color: #050404;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
}

.op > * {
  flex-basis: 20rem;
  flex-shrink: 0;
}

.op .w3-card-4 {
  display: flex;
  flex-direction: column;
  border: 5px dotted #f1f1f1;
  padding: 5px;
  margin: 5px;
}

.op .w3-card-4 > .w3-container > {
  flex-grow: 1;
}

.op .w3-card-4 > .img {
  flex-basis: 25rem;
  flex-shrink: 0;
  overflow-y: hidden;
}
